.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu {
    width: 40px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
    padding: 1.5em;
    gap: 1.5em;
}

.container__imagem {
    display: block;
}

.container__checkbox {
    display: none;
}

.container__checkbox:checked ~ .cabecalho__menu__lista {
    display: block;
}

.cabecalho__menu__lista {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
    left: 0%;
}

.menu__lista__titulo, .menu__lista__item {
    background-color: var(--branco);
    padding: 1.5em;
}

.menu__lista__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.menu__lista__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}